.circles::before,
.circles::after {
  content: "";
  position: absolute;
  width: 225px;
  height: 225px;
  background: #155dfc;
  border-radius: 50%;
  z-index: -2;
}
.circles::before {
  top: 20%;
  right: -10%;
}
.circles::after {
  bottom: -15%;
  left: -10%;
}
.backdrop-blur {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  backdrop-filter: blur(200px);
}
